.App {
    text-align: center;
    background-color: #246a92;
    position: relative;
    background-size: contain;
    // resize: both;
    // overflow: scroll;
}
  
body {
    background-color: #246a92;
    // position: absolute;
}